<a href="https://colab.research.google.com/github/elstonds/Python_application_in_DA_and_ML/blob/master/day2session1(examples).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Program to find the largest number in a list.

In [0]:
x=0
print('The greatest no is',max([int(input(x)) for i in range(int(input("Enter n")))]))

Enter n4
20
30
40
50
The greatest no is 50

In [0]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:3
Enter element:1
Enter element:2
Enter element:3
Largest element is: 3

#Python Program to put the even and odd elements in a list into two different lists.

In [0]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
even=[]
odd=[]
for j in a:
    if(j%2==0):
        even.append(j)
    else:
        odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:3
Enter element:20
Enter element:5
Enter element:6
The even list [20, 6]
The odd list [5]

#Python Program to merge two lists and sort it.

In [0]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
    b=int(input("Enter element:"))
    a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
    d=int(input("Enter element:"))
    c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:3
Enter element:20
Enter element:0
Enter element:40
Enter number of elements:2
Enter element:20
Enter element:20
Sorted list is: [0, 20, 20, 20, 40]

#Python Program to sort the list according to the second element in the sublist.

In [0]:
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
    for j in range(i+1,len(a)):
        if(a[i][1]>a[j][1]):
            temp=a[j]
            a[j]=a[i]
            a[i]=temp
 
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

#Python Program to find the second largest number in a list using bubble sort.

In [0]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
for i in range(0,len(a)):
    for j in range(0,len(a)-i-1):
        if(a[j]>a[j+1]):
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp 
print('Second largest number is:',a[n-2])

Enter number of elements:4
Enter element:54
Enter element:53
Enter element:52
Enter element:51
Second largest number is: 53

#Program to create a list of tuples with the first element as the number and the second element as the square of the number.

In [0]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:0
Enter the upper range:3
[(0, 0), (1, 1), (2, 4), (3, 9)]

#Python Program to generate random numbers from 1 to 20 and append them to the list.

In [0]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:5
Randomised list is:  [13, 1, 10, 10, 2]

#Write python program to have a list of words  to sort them from longest to shortest using list of tuples

In [0]:
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
   t.append((len(word), word))
t.sort(reverse=True)

res = list()
for length, word in t:
    res.append(word)

print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

#Python program that assigns variables

In [0]:
# Create packed tuple.
pair = ("dog", "cat")

# Unpack tuple.
(key, value) = pair

# Display unpacked variables.
print(key)
print(value)

dog
cat

#Python program that searches tuples

In [0]:
pair = ("dog", "cat")

# Search for a value.
if "cat" in pair:
    print("Cat found")

# Search for a value not present.
if "bird" not in pair:
    print("Bird not found")

Cat found
Bird not found